mi-nav {
  display: block;
  background-color:
    var(--colorMiNav);
}

mi-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
 /* background-image: linear-gradient(-225deg, #231557 3%, #44107A 42%, #FF1361 60%, #fa9b48 200%);*/
}

mi-nav ul li {
  margin: 0.5rem;
}
